:root {
    --graph-bg: rgba(255, 255, 255, 1.0);
    --darkest-bg: #181a1b;
    --navbar-color: #2c2f31;
    --text-color: rgb(209, 205, 199);
}

body,
.jumbotron {
    background-color: var(--darkest-bg);
}

.bg-dark {
    background-color: var(--navbar-color) !important;
}

.form-control {
    background-color: rgb(32, 35, 37);
}

.form-control:focus {
    color: var(--text-color);
}

h1,
h2,
h3 {
    font-family: Consolas, monaco, monospace;
}

body,
.table {
    color: var(--text-color);
}

#categories-pie-graph,
#keys-pie-graph {
    background-color: var(--graph-bg);
    border-radius: 1em;
}

#score-graph {
    background-color: var(--graph-bg);
    border-radius: 1em;
    margin-top: 4vh;
}

a {
    color: #82bbff;
}

#score-graph>h3 {
    color: black;
}