:root {
    --graph-bg: rgba(255, 255, 255, 1.0);
    --darkest-bg: #181a1b;
    --navbar-color: #2c2f31;
    --text-color: rgb(209, 205, 199);
}

body,
.jumbotron {
    background-color: var(--darkest-bg);
}

.bg-dark {
    background-color: var(--navbar-color) !important;
}

.form-control {
    background-color: rgb(32, 35, 37);
}

.form-control:focus {
    color: var(--text-color);
}

h1,
h2,
h3,
body {
    font-family: Consolas, monaco, monospace;
}

body,
.table {
    color: var(--text-color);
}

#categories-pie-graph,
#keys-pie-graph {
    background-color: var(--graph-bg);
    border-radius: 1em;
}

#score-graph {
    background-color: var(--graph-bg);
    border-radius: 1em;
    margin-top: 4vh;
}

a {
    color: #82bbff;
}

#score-graph>h3 {
    color: black;
}

.challenge-placard {
    color: white;
}

.challenge-placard>span.challenge-desc>h1 {
    font-size: larger;
}

.challenge-placard {
    box-shadow: 0 0 10px 3px #101010;
    padding: 0.5em;
}

.modal-body,
.modal-content {
    background-color: var(--navbar-color);
    /* border-radius: 1em; */
}

.close {
    color: var(--text-color);
}

/* on close hover */
.close:hover {
    color: white;
}

.btn-info {
    background-color: #ffffff !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: var(--darkest-bg);
    color: var(--text-color);
}

/* Fix the profile create team link */
#profile>div>div>span>a {
    color: #337ab7 !important;
}

#profile>div>div>span>a:hover {
    color: #1b4263 !important;
}