<!DOCTYPE html>
<html>

<head>
	<title>{{ Configs.ctf_name }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ Configs.ctf_small_icon }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('views.themes', path='css/fonts.css') }}">
	<link rel="stylesheet" href="{{ url_for('views.themes', path='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('views.themes', path='css/core.css') }}">
	<link rel="stylesheet" href="{{ url_for('views.themes', path='css/uiuc.css') }}">
	{% block stylesheets %}
	{% endblock %}

	{{ Plugins.styles }}
	<script type="text/javascript">
		var init = {
			'urlRoot': "{{ request.script_root }}",
			'csrfNonce': "{{ Session.nonce }}",
			'userMode': "{{ Configs.user_mode }}",
			'userId': {{ Session.id }},
			'userName': "{{ User.name }}",
			'userEmail': "{{ User.email }}",
			'teamId': {{ Team.id | tojson }}, 
			'teamName': "{{ Team.name }}",
			'start': {{ Configs.start | tojson }},
			'end': {{ Configs.end | tojson }},
			'theme_settings': {{ Configs.theme_settings | tojson }}
		}
	</script>

	{{ Configs.theme_header }}
</head>

<body>
	{% include "components/navbar.html" %}

	<main role="main">
		{% block content %}
		{% endblock %}
	</main>

	<footer class="footer">
		<div class="container text-center">
			<a href="https://ctfd.io" class="text-secondary">
				<small class="text-muted">Powered by CTFd</small>
			</a>
		</div>
	</footer>

	<script defer src="{{ url_for('views.themes', path='js/vendor.bundle.js') }}"></script>
	<script defer src="{{ url_for('views.themes', path='js/core.js') }}"></script>
	<script defer src="{{ url_for('views.themes', path='js/helpers.js') }}"></script>

	{% block entrypoint %}
	<script defer src="{{ url_for('views.themes', path='js/pages/main.js') }}"></script>
	{% endblock %}

	{% block scripts %}
	{% endblock %}

	{{ Plugins.scripts }}

	<script>
		// Apparently countdown needs to be here for some reason??
		// instead of in the home page. idk probably for browser compatibility
		// originally this was in the theme footer in ctfd
		// trust kuilin
		(function () {
			// Update the count down every 1 second
			var interval;
			var update = function () {
				var startTime = 1659139200000;
				var endTime = 1659312000000;
				var currentTime = new Date().getTime();

				var beforeStart = currentTime < startTime;
				var countDownDate = new Date(beforeStart ? startTime : endTime).getTime();

				// Only run on the main page
				if (!document.getElementById("demo")) return;

				// Get today's date and time
				var now = new Date().getTime();

				// Find the distance between now and the count down date
				var distance = countDownDate - now;

				// Time calculations for days, hours, minutes and seconds
				var days = Math.floor(distance / (1000 * 60 * 60 * 24));
				var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
				var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
				var seconds = Math.floor((distance % (1000 * 60)) / 1000);

				// Display the result in the element with id="demo"
				var verb = beforeStart ? "starts" : "ends";
				document.getElementById("demo").innerHTML = "UIUCTF " + verb + " in " + days + "d " + hours + "h "
					+ minutes + "m " + seconds + "s ";

				// If the count down is finished, write some text
				if (distance < 0 && !beforeStart) {
					clearInterval(interval);
					document.getElementById("demo").innerHTML = "UIUCTF has ended!";
				}
			};
			interval = setInterval(update, 1000);
			update();
		})();
	</script>

	{{ Configs.theme_footer }}
</body>

</html>