<!-- CTF logo -->
<div class="row justify-content-center my-5 py-5">
    <div class="col-md-8 center-block">
        <img src="/themes/uiuctf/static/img/uiuctf.png" class="pt-5 d-block img-fluid" />
    </div>
</div>

<!-- Countdown timer -->
<div class="row pb-2 justify-content-center">
    <div class="col-md-8">
        <!-- https://www.w3schools.com/howto/howto_js_countdown.asp -->
        <!-- Display the countdown timer in an element -->
        <h2 id="demo" class="text-center"></h2>
    </div>
</div>

<!-- CTF description -->
<div class="row justify-content-center">
    <div class="col-md-8">
        <p>UIUCTF is a capture the flag competition run by <a href="https://sigpwny.com/">SIGPwny</a> from the
            University of Illinois at Urbana-Champaign. This event will have challenges designed for beginners and
            experienced players alike. Join us from July 30 00:00 UTC to August 1 00:00 UTC!</p>
    </div>
</div>

<!-- Socials and sponsors -->
<div class="row pb-5 justify-content-around">
    <div class="col-md-4 pt-5 justify-content-center">
        <h2 class="text-center">Socials</h2>
        <iframe src="https://discord.com/widget?id=722150434566963293&theme=dark" width="100%" height="450"
            allowtransparency="true" frameborder="0"
            sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        <div class="row justify-content-center">
            <a href="https://twitter.com/sigpwny">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-square fa-stack-2x" style="color: #00aced;"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a href="https://github.com/sigpwny">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-square fa-stack-2x" style="color: #333;"></i>
                    <i class="fab fa-github-alt fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-md-4 pt-5 justify-content-center text-center" style="font-size: 1.2rem">
        <h2 class="text-center">Prizes</h2>
        <table class="table table-sm table-borderless">
            <tbody>
                <tr>
                    <td>1st</td>
                    <td>$2,048</td>
                </tr>
                <tr>
                    <td>2nd</td>
                    <td>$1,024</td>
                </tr>
                <tr>
                    <td>3rd</td>
                    <td>$512</td>
                </tr>
                <tr>
                    <td>4th-5th</td>
                    <td>$256</td>
                </tr>
                <tr>
                    <td>6th-10th</td>
                    <td>$128</td>
                </tr>
            </tbody>
        </table>
        <br />
        <p>Plus, over $1,250 in writeup prizes!</p>
    </div>
    <div class="col-md-4 pt-5 justify-content-center">
        <h2 class="text-center">Sponsors</h2>
        <a href="https://www.battelle.org/" target="_blank" rel="noreferrer noopener"><img class="img-fluid"
                src="https://uiuctf.sigpwny.com/2022/battelle.png"></a>
        <a href="https://redlattice.com/" target="_blank" rel="noreferrer noopener"><img class="img-fluid"
                src="https://uiuctf.sigpwny.com/2022/redlattice.png"></a>
        <a href="https://trailofbits.com/" target="_blank" rel="noreferrer noopener"><img class="img-fluid"
                src="https://uiuctf.sigpwny.com/2022/trailofbits.png"></a>
        <a href="https://goo.gle/ctfsponsorship" target="_blank" rel="noreferrer noopener"><img class="img-fluid"
                src="https://uiuctf.sigpwny.com/2022/googlecloud.png"></a>
        <p class="text-center">Infra sponsored by
            <a class="underline text-blue-400 hover:opacity-50"
                href="https://goo.gle/ctfsponsorship">goo.gle/ctfsponsorship</a>
        </p>
    </div>
</div>
